<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="VLP-16">
  <!--Data from https://bitbucket.org/DataspeedInc/velodyne_simulator/src/master/-->
  <!--Known Issues
  - At full sample resolution, Gazebo can take up to 30 seconds to load the VLP-16 pluggin
  - With the default Gazebo version shipped with ROS, ranges are incorrect when accelerated with the GPU option (issue,image)
      Solution: Upgrade to a modern Gazebo version (https://bitbucket.org/DataspeedInc/velodyne_simulator/src/9ab05d74438b693b8aad3c3c87ca438e68844409/gazebo_upgrade.md)
  - Gazebo cannot maintain 10Hz with large pointclouds
      Solution: User can reduce number of points (samples) or frequency (hz) in the urdf parameters
  -->
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/vlp16_velodyne.gazebo.urdf.xacro" />

  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro 
    name="VLP-16" 
    params="*origin parent:=base_link name:=velodyne">

    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" /> 
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <link name="${name}_base_link">
      <!--<inertial>
        <mass value="0.83"/>
        <origin xyz="0 0 0.03585"/>
        <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" ixy="0" ixz="0"
          iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" iyz="0"
          izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
      </inertial>
      -->
      <inertial>
          <mass value="0.0"/>
          <origin xyz="0.0 0.0 0.0"/>
          <inertia ixx="0.0" ixy="0.0" ixz="0.0"
                   iyy="0.0" iyz="0.0"
                   izz="0.0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP16_base_1.dae" />
        </geometry>
      </visual>
      <visual>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/VLP16_base_2.dae" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.03585"/>
        <geometry>
          <cylinder radius="0.0516" length="0.0717"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_base_scan_joint" type="fixed" >
      <origin xyz="0 0 0.0377" rpy="0 0 0" />
      <parent link="${name}_base_link" />
      <child link="${name}"/>
    </joint>

    <link name="${name}">
    <!--This parts needs to be commented otherwise the supervisor crashes: TODO: fix issue-->
        <!--inertial>
          <mass value="0.01"/>
          <origin xyz="0 0 0"/>
          <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
        </inertial-->	  
        <visual>
          <origin xyz="0 0 -0.0377" />
          <geometry>
            <mesh filename="package://velodyne_description/meshes/VLP16_scan.dae" />
          </geometry>
        </visual>
      </link>

    <!--number of samples from example.urdf.xacro in https://bitbucket.org/DataspeedInc/velodyne_simulator/src/master/-->
    <xacro:velodyne_sensor 
      link_name="${name}" 
      frame_name="${name}" 
      lidar_name="${name}"
      samples="440"
      hz="10"
    />

  </xacro:macro>
</robot>
