<?xml version="1.0" ?>
<launch>

	<include file="$(find openni2_launch)/launch/openni2.launch">
		<arg name="camera" value="asus" />
		<arg name="depth_registration" value="false" />
		<arg name="color_depth_synchronization" value="true" />
		<arg name="publish_tf" value="false" />
	</include>

	<group ns="realsense/front">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
			<arg name="serial_no"			value="750612070733"/>
			<arg name="manager"			value="realsense2_camera_manager_front"/>
			<arg name="json_file_path"		value=""/>
			<arg name="depth_width"			value="1280"/>
			<arg name="depth_height"		value="720"/>
			<arg name="depth_fps"			value="30"/>
			<arg name="color_width"			value="1280"/>
			<arg name="color_height"		value="720"/>
			<arg name="color_fps"			value="30"/>
			<arg name="enable_depth"		value="true"/>
			<arg name="enable_color"		value="true"/>
			<arg name="enable_infra1"		value="false"/>
			<arg name="enable_infra2"		value="false"/>
			<arg name="enable_fisheye"		value="false"/>
			<arg name="enable_imu"			value="false"/>
			<arg name="enable_pointcloud"		value="false"/>
			<arg name="enable_sync"			value="true"/>
			<arg name="spatial_filter"      	default="true"/>
			<arg name="spatial_alpha"       	default="0.5"/> <!-- 0.45 -->
			<arg name="spatial_delta"       	default="20"/>
			<arg name="spatial_iterations"  	default="5"/>
			<arg name="temporal_filter"		default="true"/>
			<arg name="temporal_alpha"		default="0.5"/>
			<arg name="temporal_delta"		default="20"/>
			<arg name="temporal_persistence"	default="7"/>
			<arg name="holes_filter"		default="false"/>
			<arg name="holes_filling_mode"		default="1"/>
			<arg name="decimation_filter"		default="false"/>
			<arg name="dec_downsample_scale"	default="2"/>
			<arg name="base_frame_id"		default="front/camera_link"/>
			<arg name="depth_frame_id"		default="front/camera_depth_frame"/>
			<arg name="depth_optical_frame_id"	default="front/camera_depth_optical_frame"/>
		</include>

		<node pkg="nodelet" type="nodelet" name="points_xyz_sw_registered" args="load depth_image_proc/point_cloud_xyz realsense2_camera_manager_front false" respawn="false">
			<remap from="camera_info"	to="depth/camera_info" />
			<remap from="image_rect"	to="depth/image_rect_raw" />
			<remap from="points"		to="depth/points" />
		</node>
	
	</group>

</launch>
