<launch>
	<arg name="serial_no" default=""/>
	<arg name="json_file_path" default=""/>
	<arg name="manager" default="realsense2_camera_manager"/>
	<arg name="bond" default="false" />
	<arg name="respawn" default="$(arg bond)" />

	<group ns="realsense">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
		<arg name="serial_no"		value="$(arg serial_no)"/>
		<arg name="manager"		value="$(arg manager)"/>
		<arg name="json_file_path"	value="$(arg json_file_path)"/>
		<arg name="depth_width"		value="640"/>
		<arg name="depth_height"	value="480"/>
		<arg name="depth_fps"		value="90"/>
		<arg name="color_width"		value="640"/>
		<arg name="color_height"	value="480"/>
		<arg name="color_fps"		value="90"/>
		<arg name="enable_depth"	value="true"/>
		<arg name="enable_color"	value="false"/>
		<arg name="enable_infra1"	value="false"/>
		<arg name="enable_infra2"	value="false"/>
		<arg name="enable_fisheye"	value="false"/>
		<arg name="enable_imu"		value="false"/>
		<arg name="enable_pointcloud"	value="false"/>
		<arg name="enable_sync"		value="true"/>
		  <arg name="spatial_filter"      default="true"/>
		  <arg name="spatial_alpha"       default="0.6"/> <!-- 0.45 -->
		  <arg name="spatial_delta"       default="8"/>
		  <arg name="spatial_iterations"  default="5"/>
		  <arg name="temporal_filter"      default="true"/>
		  <arg name="temporal_alpha"       default="0.4"/>
		  <arg name="temporal_delta"       default="20"/>
		  <arg name="temporal_persistence" default="3"/>
		  <arg name="holes_filter"         default="false"/>
		  <arg name="holes_filling_mode"   default="1"/>
		  <arg name="decimation_filter"    default="false"/>
		  <arg name="dec_downsample_scale" default="2"/>
		</include>

		<node pkg="nodelet" type="nodelet" name="points_xyz_sw_registered" args="load depth_image_proc/point_cloud_xyz $(arg manager) $(arg bond)" respawn="$(arg respawn)">
			<remap from="camera_info"	to="depth/camera_info" />
			<remap from="image_rect"	to="depth/image_rect_raw" />
			<remap from="points"		to="depth/points" />
		</node>

	<node pkg="tf" type="static_transform_publisher" name="fake_tf1" args="0 0 0 0 0 -0.383972 front/camera_depth_optical_frame camera_depth_optical_frame 10"/>

		<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/pointcloud.rviz" required="true" /> -->
	</group>
</launch>
