<launch>
	<arg name="serial_no" default=""/>
	<arg name="json_file_path" default=""/>
	<arg name="manager" default="realsense2_camera_manager"/>
	<arg name="bond" default="false" />
	<arg name="respawn" default="$(arg bond)" />

	<group ns="realsense">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
		<arg name="serial_no"		value="$(arg serial_no)"/>
		<arg name="manager"		value="$(arg manager)"/>
		<arg name="json_file_path"	value="$(arg json_file_path)"/>
		<arg name="depth_width"		value="640"/>
		<arg name="depth_height"	value="480"/>
		<arg name="depth_fps"		value="90"/>
		<arg name="color_width"		value="640"/>
		<arg name="color_height"	value="480"/>
		<arg name="color_fps"		value="90"/>
		<arg name="enable_depth"	value="true"/>
		<arg name="enable_color"	value="false"/>
		<arg name="enable_infra1"	value="false"/>
		<arg name="enable_infra2"	value="false"/>
		<arg name="enable_fisheye"	value="false"/>
		<arg name="enable_imu"		value="true"/>
		<arg name="enable_pointcloud"	value="true"/>
		<arg name="enable_sync"		value="true"/>
		</include>

		<node pkg="nodelet" type="nodelet" name="points_xyz_sw_registered" args="load depth_image_proc/point_cloud_xyz $(arg manager) $(arg bond)" respawn="$(arg respawn)">
			<remap from="camera_info"	to="depth/camera_info" />
			<remap from="image_rect"	to="depth/image_rect_raw" />
			<remap from="points"		to="depth/points" />
		</node>

		<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/pointcloud.rviz" required="true" /> -->
	</group>
</launch>
